<div id="search-task-wrapper">

    <div id="search">
        <div class="input-group">
            <input id="task" type="textbox" placeholder="Task name.." class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="addQueueButton">+</button>
            </span>
        </div>
    </div>

    <div id="task-results">
        <div class="task">
            <div> 
                <strong>Task name: </strong> 
                <span class="task-name"></span> 
            </div>   
            <div> 
                <strong>Location: </strong>  
               <span class="task-location"></span>  
            </div>  
            <div class="task-description-wrapper"> 
                <strong>Description: </strong>  
               <div class="task-description"></div>  
            </div>  
        </div>
    </div>

</div>
